snippet fm "Markdown front matter"
---
layout: ${1:post}
title:  "${2:Post Title}"
date:   `date "+%Y-%m-%d %H:%M:%S%z"`
tags: ${3:space separated tags}
categories: ${4:space separated categories}
---
endsnippet
